/* Κανόνες για το background σε διάφορες περιοχές του εγγράφου */



.menu {
    height:50%;
    width:100%;
    clear:both;
    
}

.menu ul {
    list-style: none;
    padding: 0;
    text-align: center; /* Κεντράρισμα του κειμένου των στοιχείων του μενού */
}

.menu li {
    display:inline-block;
    text-align: center;
    padding: 10px;
    background-color: #afafaf;
    margin-right: 10px; /* Προσθήκη περιθώριου μόνο στα δεξιά του κάθε στοιχείου */
}
.menu li:last-child {
    margin-right: 0; /* Καμία δεξιά περιθώριο για το τελευταίο στοιχείο */
}


.menu a {
    text-decoration: none;
    color: #f5f5f5;
}
header {
    height:10em;
    width: 100%;
    background-color:lightblue; /* Χρώμα φόντου κεφαλίδας */
    position: fixed;
    top:0;
}

/* Κανόνες για το footer */
.footer {
    background-color: #333; /* Χρώμα φόντου του footer */
    color: #fff; /* Χρώμα κειμένου στο footer */
    padding: 20px;
    text-align: center; /* Κείμενο στο κέντρο του footer */
    position: relative; /* Θέση ως σχετική */
    clear: both;
}
/* Κανόνες για το body */
body {
    height: 100vh;
    margin: 0;
    /*χρηση ενσωματωμενου κανονα font-face*/
}

/* Κανόνες για το header */
.header {
   
   
    
    
    background-color: lightblue; /* Χρώμα του header */
    padding: 20px;
   
}
/* Κανόνες για το main */
.main {
    
    background-color: white; /* Χρώμα του κεντρικού περιεχομένου */
    margin-top: 200px; /* Απόσταση από το header */
    padding: 20px;
}



/* Κανόνες για το footer */
.footer {
    
    background-color: #333; /* Χρώμα του footer */
    color: #fff; /* Χρώμα του κειμένου στο footer */
    padding: 20px;
    text-align: center;
    width: 100%;
}





.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 10px; /* Απόσταση μεταξύ των στοιχείων των κοινωνικών δικτύων */
}

.social-links a {
    text-decoration: none;
    color: #fff; /* Χρώμα κειμένου συνδέσμου στα κοινωνικά δίκτυα */
}


article, section {
    background-color: white; /* Χρώμα φόντου περιοχών άρθρου/ενότητας */
}

/* Κανόνες για το στυλ κειμένου σε διάφορες περιοχές */
h1, h2, h3  {
    font-style: italic;
    font-size: 24px;
    color: #333;
    text-align: center;
}


p {
    font-family: 'Georgia', serif;
    font-size: 16px;
    color: #666;
}

/* Κανόνες για κλάσεις CSS για περιεχόμενο */
.text-important {
    font-weight: bold;
    color: #f00;
}

.text-highlight {
    background-color: #ffff00;
}
.text-emphasis {
    font-weight: bold;
    color: #f00;
}
/* Κανόνες για ψευδοκλάσεις υπερσυνδέσμων */
a:link {
    color: #0077b6; /* Χρώμα συνδέσμων που δεν έχουν επισκεφθεί */
}

a:visited {
    color: #880e4f; /* Χρώμα συνδέσμων που έχουν επισκεφθεί */
}

a:hover {
    color: #ff7700; /* Χρώμα συνδέσμων όταν ο δείκτης του ποντικιού περνά πάνω τους */
}

a:active {
    color: #ff0000; /* Χρώμα συνδέσμων όταν πατιούνται */
}

/* Κανόνες για το box model και float */
img {
    background-color: #f5f5f5;
    margin: 10px; /* Προσθήκη εξωτερικών περιθωρίων για να δημιουργήσετε χώρο γύρω από τις εικόνες */
}
.my-image {
    width: 220px;
    height: 150px;
    float: left;
    margin-bottom: 20px;
}
.myg{
    max-width: 100%;
    max-height: 100%;
    float: left;
}
.gclass{
    height: 200px;
    width: auto;
}
.g{
    height: 200px;
    margin-right: 20px;
    float: left;
    margin-right: 20px;
}

/* Στιλ για το figure> */
figure {
    margin: 0;
    padding: 0;
    clear: both;
}

/* Στιλ για την εικόνα μέσα στο <figure> */
figure img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

/* Στιλ για το <figcaption> */
figcaption {
    font-style: italic;
    color: #555;
    margin-left: 10px; /* Απόσταση αριστερά από την εικόνα */
    margin-top: 30px;
}
.indexpng{
    width: 220px;
    height: 150px;
    float: right;

}




